<h2>Update the Book of Great Houses</h2>

<%= form_for @house do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label "Sigil URL" %>
  <br>
  <%= f.text_field :sigil %>
  <br>
  <br>
  <%= f.label :words %>
  <br>
  <%= f.text_field :words %>
  <br>
  <br>
  <%= f.label :seat %>
  <br>
  <%= f.text_field :seat %>
  <br>
  <br>
  <%= f.label :region %>
  <br>
  <%= f.text_field :region %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Wipe out", @house, method: :delete, class: "delete" %>
